<div class="login-box">
  <div class="row justify-content-center">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4>Login</h4>
        </div>
        <div class="card-body">
          <form>
           <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
              <label for="username">Username</label>
              <input formControlName="username" type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input formControlName="password" type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="text-center">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
          </form>
        </form>
          <hr>
          <div class="text-center">
          <span>New to us? <a routerLink="/signup">Register</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

